

.gallery .content .media {
    position: relative;
    width: 25%;
    padding-top: 25%;
}

.gallery .content .media .img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.loading-ctn {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        background: linear-gradient(to bottom right, rgba(250, 50, 50, 0.5), rgba(50, 150, 250, 0.5)), linear-gradient(to bottom left, blue 30px, transparent 150px);
        box-shadow: inset 0 0 10px 5px #222;
    }
}